<!DOCTYPE html>
<html lang="pt-BR">
<head>
</head>
<header class="rectangle-header">
  <h1 class="display-3">Modelo de Negócios CANVAS</h1>
  <a class="navbar-brand" href="/">Início</a>
  <a class="nav-link" href="/sobre">Sobre</a>
  <a class="nav-link" href="/login">Login</a>
</header>
</div>
</html>


<style>
.rectangle-header {
  width: 1000px; /* Ajuste a largura conforme necessário */
  height: 50px; /* Ajuste a altura conforme necessário */
  background-color: #fff; /* Defina a cor de fundo */
  border: 2px solid #f19595; /* Adicione uma borda */
  margin: 0 auto; /* Centralize o cabeçalho horizontalmente */
  padding: 20px; /* Adicione preenchimento para o conteúdo */
  box-shadow: 0 4px 8px rgba(253, 210, 210, 0.1); /* Adicione uma sombra sutil */
  text-align: center; /* Centralize o conteúdo do cabeçalho */
  display: flex; /* Use flexbox para layout */
  justify-content: space-around; 
  align-items: center; /* Alinhe os links verticalmente */
}

.rectangle-header a {
  color: #000; /* Defina a cor do texto */
  text-decoration: none; /* Remova sublinhados */
}
.rectangle-header h1{
  color: #f19595;
  text-align: left;
  margin-top: 20px;
}

</style>
    